{{ $image := "" }}

{{ if isset .Params "img" }}
  {{- if strings.HasPrefix .Params.img "http" -}}
    {{- $image = .Params.img -}}
  {{ else }}
    {{- $image = (print .Params.img | absURL) -}}
  {{ end }}
{{ else if or (eq .Section "blog") (eq .Section "note") -}}
  {{- $image = partial "functions/getOgpImageBlog.html" . -}}
{{ else if eq .Section "poetry" -}}
  {{- $image = partial "functions/getOgpImagePoetry.html" . -}}
{{ else }}
  {{- $image = "images/nopicture.png" | absURL -}}
{{ end }}

{{ return $image }}
