<!doctype html>
<html lang="{{ .Site.LanguageCode }}" class="text-neutral-900">
  {{- partial "head.html" . -}}
  <body class="font-ja wrap-break-word">
    <div class="container mx-auto px-6">
      {{- partial "header.html" . -}}
      <div
        class="mx-auto grid max-w-7xl grid-cols-1 gap-8 pb-16 lg:grid-cols-[18rem_minmax(0,1fr)_18rem] lg:px-6"
      >
        {{ partial "notes/sidebar.html" . }}
        <!-- メインコンテンツ -->
        <main class="prose lg:prose-lg xl:prose-xl max-w-none">
          {{- block "main" . }}{{- end }}
        </main>
        <!-- サイドバー -->
        <aside class="">
          <h2 class="mb-4 text-xl text-neutral-500">Updates</h2>
          {{ $pages := first 10 (sort (where .Site.RegularPages "Type" "notes") "Date" "desc") }}
          <ul>
            {{ range $pages }}
              <li class="mb-2">
                <a
                  href="{{ .RelPermalink }}"
                  class="text-blue-600 hover:underline"
                >
                  {{ .Title }}
                </a>
                <span class="text-sm text-neutral-500">
                  - {{ .Date.Format "2006-01-02" }}</span
                >
              </li>
            {{ end }}
          </ul>
        </aside>
      </div>
    </div>
    {{- partial "footer.html" . -}}
    {{- partial "drawer-script.html" -}}
    <script src="/js/instantpage-5.2.0.js" type="module" defer></script>
  </body>
</html>
