{{ define "main" }}
  <article class="rounded-xl border border-neutral-200 bg-white p-8 shadow-sm">
    <header class="prose mx-auto mb-10 border-b border-neutral-100 pb-6">
      <h1 class="text-3xl font-bold tracking-tight text-neutral-900">
        {{ .Title }}
      </h1>
      {{ with .Date }}
        <div class="mt-4 text-sm text-neutral-500">
          <time datetime="{{ .Format "2006-01-02T15:04:05Z07:00" }}"
            >{{ .Format "2006.01.02" }}</time
          >
        </div>
      {{ end }}
    </header>

    <div
      class="prose prose-neutral prose-a:text-neutral-900 prose-a:underline-offset-4 prose-a:decoration-neutral-300 prose-a:hover:decoration-neutral-900 prose-code:before:content-none prose-code:after:content-none mx-auto"
    >
      {{ .Content }}
    </div>
  </article>
{{ end }}
