<!doctype html>
<html lang="{{ .Site.LanguageCode }}" class="text-gray-800">
  {{- partial "head.html" . -}}
  <body class="font-jamin">
    <div class="">
      <div class="flex flex-row-reverse">
        <div
          class="min-h-full overflow-auto [word-break:auto-phrase] [writing-mode:vertical-rl]"
        >
          {{- partial "header_vertical.html" . -}}
          <main class="">
            {{- block "main" . }}{{- end }}
          </main>
        </div>
      </div>
    </div>
    <script>
      document
        .getElementById("nav-open")
        .addEventListener("click", function () {
          document.getElementById("nav-menu").classList.toggle("hidden");
        });
      document.querySelector("nav").scrollIntoView();
    </script>
    <script src="/js/instantpage-5.2.0.js" type="module" defer></script>
  </body>
</html>
