{{ define "main" }}
  <div
    class="min-h-screen [overflow-x:scroll] [word-break:auto-phrase] [writing-mode:vertical-rl]"
  >
    <div class="flex flex-col [writing-mode:vertical-rl]">
      <h1 id="title" class="mx-10 my-5 text-2xl font-bold">
        {{ .Title }}
      </h1>
      <div class=" indent-4 leading-relaxed [writing-mode:vertical-rl]">
        {{ .Content }}
      </div>
      <div class="mr-10">
        <a class="" href="/poetry/tanka/"
          ><h3>{{ .CurrentSection.LinkTitle }}</h3></a
        >
      </div>
    </div>
  </div>
{{ end }}
