{{ $image := "" }}
{{ if isset .Params "img" }}
  {{- if strings.HasPrefix .Params.img "http" -}}
    {{- $image = .Params.img -}}
  {{ else }}
    {{- $image = (print .Params.img | absURL) -}}
  {{ end }}
{{ else if eq .Section "poetry" -}}
  {{ if .File }}
    {{- $image = (printf "images/poetry/%s.png" .File.BaseFileName | absURL) -}}
  {{ else }}
    {{- $image = "images/nopicture.png" | absURL -}}
  {{ end }}
{{ else }}
  {{- $image = "images/nopicture.png" | absURL -}}
{{ end }}

{{ return $image }}
