<!doctype html>
<html lang="{{ .Site.LanguageCode }}" class="text-neutral-900">
  {{- partial "head.html" . -}}
  <body class="font-ja bg-neutral-50 wrap-break-word text-neutral-900">
    <div class="container mx-auto flex min-h-screen flex-col">
      <div class="px-4 md:px-6">
        {{- partial "header.html" . -}}
      </div>
      <main class="mx-2 flex-1 md:mx-12 lg:mx-20 xl:mx-60">
        {{- block "main" . }}{{- end }}
      </main>
    </div>
    {{- partial "footer.html" . -}}
    {{- partial "drawer-script.html" -}}
    <script src="/js/instantpage-5.2.0.js" type="module" defer></script>
  </body>
</html>
