{{ define "main" }}
  <div class="text-gray-700">
    {{ $recent_articles := where .Site.RegularPages "Section" "not in" (slice "note" "app" "poetry") }}
    {{ range first 10 $recent_articles }}
      {{ partial "article-list.html" . }}
    {{ end }}
    <div class="my-4 text-center">
      <a href="/blog/" class="">
        <button
          class="mr-2 rounded-sm border border-gray-100 bg-gray-700 px-4 py-2 font-semibold text-white hover:border-transparent hover:bg-gray-500 hover:text-white"
        >
          Blog Archives
        </button>
      </a>
    </div>
  </div>
{{ end }}
