{{ define "main" }}
  <div class="text-gray-700">
    <a href="{{ .Site.BaseURL }}">
      <img
        loading="lazy"
        class="rounded"
        src="https://res.cloudinary.com/{{ .Site.Params.Cloudinary }}/image/upload/{{ .Site.Params.topbanner.src }}"
        srcset="
          https://res.cloudinary.com/{{ .Site.Params.Cloudinary }}/image/upload/q_auto,f_auto/{{ .Site.Params.topbanner.src }}       1000w,
          https://res.cloudinary.com/{{ .Site.Params.Cloudinary }}/image/upload/q_auto,f_auto,w_800/{{ .Site.Params.topbanner.src }}  800w,
          https://res.cloudinary.com/{{ .Site.Params.Cloudinary }}/image/upload/q_auto,f_auto,w_640/{{ .Site.Params.topbanner.src }}  640w,
          https://res.cloudinary.com/{{ .Site.Params.Cloudinary }}/image/upload/q_auto,f_auto,w_400/{{ .Site.Params.topbanner.src }}  400w,
          https://res.cloudinary.com/{{ .Site.Params.Cloudinary }}/image/upload/q_auto,f_auto,w_320/{{ .Site.Params.topbanner.src }}  320w
        "
        width="{{ .Site.Params.topbanner.width }}"
        height="{{ .Site.Params.topbanner.height }}"
        layout="responsive"
      />
    </a>
    {{ $recent_articles := where .Site.Pages "IsPage" true }}
    {{ $recent_articles = where $recent_articles "Section" "ne" "note" }}
    {{ $recent_articles = where $recent_articles "Section" "ne" "app" }}
    {{ $recent_articles = where $recent_articles "Section" "ne" "poetry" }}

    {{ range first ($.Site.Params.latestSize | default 3) $recent_articles }}
      <article class="border-grey-light mt-1.5 rounded border pb-1 pt-1">
        <a href="{{ .Permalink }}">
          <div class="flex flex-row">
            <div class="flex basis-1/4 items-center justify-center rounded">
              <img
                loading="lazy"
                class="h-32 object-contain"
                src="{{ if isset .Params "eyecatch" }}
                  {{ .Params.Eyecatch }}
                {{ else if isset .Params "img" }}
                  {{ .Params.img }}
                {{ else }}
                  {{ $.Site.BaseURL }}images/nopicture.png
                {{ end }}"
              />
            </div>
            <div
              class="flex basis-3/4 flex-col justify-between p-4 leading-normal"
            >
              <div class="mb-8 px-1">
                <p class="text-grey-dark flex items-center text-sm">
                  {{ range .Params.category }}{{ . | upper }}{{ end }}
                </p>
                <p class="text-grey-dark">{{ .Date.Format "2006.01.02" }}</p>
                <div class="mb-2 text-xl font-bold text-black">
                  {{ .Title }}
                </div>
                <p class="text-base text-gray-700">
                  {{ .Summary | plainify | truncate 200 }}
                </p>
              </div>
            </div>
          </div>
        </a>
      </article>
    {{ end }}
    <div class="my-4 text-center">
      <a href="/blog/" class="">
        <button
          class="mr-2 rounded border border-gray-100 bg-gray-700 px-4 py-2 font-semibold text-white hover:border-transparent hover:bg-gray-500 hover:text-white"
        >
          Blog Archives
        </button>
      </a>
    </div>
  </div>
{{ end }}
