{{- $imgParams := partial "functions/parse-img-params.html" .Title -}}
{{- $width := $imgParams.width -}}
{{- $height := $imgParams.height -}}
{{- $hero := $imgParams.hero -}}

{{- if (hasPrefix .Destination "https://res.cloudinary.com/meganii/image/upload/") -}}
  {{- $srcset := (partial "functions/get-cloudinary-srcset.html" .) -}}
  <div class="pt-4 text-center">
    <img
      {{ if $hero }}
        data-hero decoding="async"
      {{- else -}}
        loading="lazy"
      {{ end }}
      class=""
      src="{{ .Destination }}"
      srcset="{{ $srcset }}"
      width="{{ $width }}"
      height="{{ $height }}"
      alt="{{ .Text | default $.Page.Title }}"
    />
  </div>
{{- else -}}
  <div class="pt-4 text-center">
    <img
      {{ if $hero }}
        data-hero decoding="async"
      {{ else }}
        loading="lazy"
      {{ end }}
      class="contain"
      src="{{ .Destination }}"
      width="{{ $width }}"
      height="{{ $height }}"
      heights="(min-width:600px) 400px, 80%"
      layout="responsive"
      alt="{{ .Text | default $.Page.Title }}"
    />
  </div>
{{- end -}}
