{{ $itemId := string ( .Get 0) }}
{{ $json := (index .Site.Data.amazon $itemId) }}


<p></p>
<!-- Avoid overriding list -->

<div
  class="affiliate border-grey-light z-0 rounded border lg:mx-auto lg:my-4 lg:flex"
>
  <div
    class="my-4 flex items-center justify-center rounded lg:mx-2 lg:w-2/5 lg:flex-none lg:px-2 lg:py-4"
  >
    <a
      href="{{ $json.DetailPageURL }}"
      rel="noopener sponsored"
      class="text-blue-500 hover:underline"
    >
      <img
        loading="lazy"
        class="h-56 object-contain"
        src="{{ $json.Images.Primary.Large.URL }}"
        width="{{ $json.Images.Primary.Large.Width }}"
        height="{{ $json.Images.Primary.Large.Height }}"
        alt="{{ $json.ItemInfo.Title.DisplayValue }}"
      />
    </a>
  </div>
  <div class="flex flex-col justify-between p-4 leading-normal lg:w-3/5">
    <div class="mb-8 px-1">
      <a
        href="{{ $json.DetailPageURL }}"
        rel="noopener sponsored"
        class="text-blue-500 hover:underline"
        >{{ $json.ItemInfo.Title.DisplayValue }}</a
      >
      {{- with $json.ItemInfo.Classifications.ProductGroup.DisplayValue -}}
        {{- if or (eq $json.ItemInfo.Classifications.ProductGroup.DisplayValue "Book") ( eq $json.ItemInfo.Classifications.ProductGroup.DisplayValue "Digital Ebook Purchas") -}}
          <div>
            出版社：{{ $json.ItemInfo.ByLineInfo.Manufacturer.DisplayValue }}
          </div>
          {{- with $json.ItemInfo.ByLineInfo.Contributors -}}
            <div>
              著者:
              {{- range . -}}<span class="ml-3">{{ .Name }}</span>{{- end -}}
            </div>
          {{- end -}}
          {{- with $json.ItemInfo.ContentInfo.PublicationDate.DisplayValue -}}
            <div>発売日: {{ dateFormat "2006/01/02" . }}</div>
          {{- end -}}
        {{- else -}}
          <div>{{ $json.ItemInfo.ByLineInfo.Manufacturer.DisplayValue }}</div>
        {{- end -}}
      {{- end -}}
    </div>
    <div class="grid grid-cols-2 gap-1 md:grid-cols-3">
      <a
        href="{{ $json.DetailPageURL }}"
        target="_blank"
        rel="noopener sponsored"
        class="border-1 block	w-full rounded border-gray-600 bg-yellow-500 text-center text-sm font-medium leading-9 text-white hover:bg-yellow-400"
        >Amazon</a
      >
      {{- with $json.Kindle.productUrl -}}
        <a
          href="{{ $json.Kindle.productUrl }}"
          target="_blank"
          rel="noopener sponsored"
          class="border-1 block w-full rounded border-gray-600 bg-yellow-600 text-center text-sm font-medium leading-9 text-white  hover:bg-yellow-500"
          >Kindle</a
        >
      {{- end -}}
      {{- with $json.Rakuten -}}
        {{- if isset $json.Rakuten "productUrl" -}}
          <a
            href="{{ $json.Rakuten.productUrl }}"
            target="_blank"
            rel="noopener sponsored"
            class="border-1 block w-full rounded border-gray-600 bg-red-600 text-center text-sm leading-9 text-white hover:bg-red-500"
            >楽天市場</a
          >
        {{- end -}}
        {{- if isset $json.Rakuten "productUrlPC" -}}
          <a
            href="{{ $json.Rakuten.productUrlPC }}"
            target="_blank"
            rel="noopener sponsored"
            class="border-1 block w-full rounded border-gray-600 bg-red-600 text-center text-sm leading-9 text-white hover:bg-red-500"
            >楽天市場</a
          >
        {{- end -}}
      {{- end -}}
      {{- with $json.Yahoo.productUrl -}}
        <a
          href="{{ $json.Yahoo.productUrl }}"
          target="_blank"
          rel="noopener sponsored"
          class="border-1 block w-full rounded border-gray-600 bg-purple-600 text-center text-sm leading-9 text-white hover:bg-purple-500"
          >Yahoo!ショッピング</a
        >
      {{- end -}}
    </div>
  </div>
</div>
