{{ $url := ( .Get 0) }}
{{ $getURL := printf "http://localhost:6060/ogp?%s" (querify "url" $url ) }}
{{ $ogpjson := resources.GetRemote $getURL }}


<div class="border-grey-light my-4 rounded border">
  <div class="relative mx-2 p-3 lg:flex">
    <div class="lg:w-4/5">
      <a href="{{ $ogpjson.ogUrl }}"><strong>{{ $ogpjson.ogTitle }}</strong></a>
      <div class="text-sm leading-tight">
        {{ $ogpjson.ogDescription | truncate 100 }}
      </div>
    </div>
    <div class="relative m-2 h-20 lg:w-1/5 lg:flex-none">
      <img
        loading="lazy"
        class="contain"
        src="{{ $ogpjson.ogImage.url }}"
        layout="fill"
      />
    </div>
  </div>
</div>
