<!doctype html>
<html lang="{{ .Site.LanguageCode }}" class="text-gray-800">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#2196f3" />
    {{- partial "meta.html" . -}}
    <meta http-equiv="x-dns-prefetch-control" content="on" />
    <link rel="preconnect" href="https://res.cloudinary.com" />
    <link rel="dns-prefetch" href="https://res.cloudinary.com" />
    <link rel="manifest" href="{{ .Site.BaseURL }}manifest.json" />

    {{ with (templates.Defer (dict "key" "global")) }}
      {{ partial "css.html" . }}
    {{ end }}
    <link
      rel="apple-touch-icon"
      type="image/png"
      href="/images/icons/apple-touch-icon-180x180.png"
    />
    <link rel="icon" type="image/png" href="/images/icons/icon-96x96.png" />

    {{ $baseurl := (printf "https://res.cloudinary.com/%s/image/upload/" "meganii") }}
    {{ $restr := (printf "^https?://res.cloudinary.com/%s/image/upload/.+/(.*)" "meganii" ) }}

    {{- $regex := `<img[\s\S]*data-hero[\s\S]+?src="(.+?)"[\s\S]+? />` -}}
    {{- $matches := findRESubmatch $regex .Content -}}
    {{- range $matches -}}
      {{ $src := index . 1 }}
      {{ if (hasPrefix $src $baseurl) }}
        {{ $itemid := $src | replaceRE $restr "$1" }}
        <link
          rel="preload"
          as="image"
          href="{{ $src }}"
          imagesrcset="
                      {{ $baseurl }}q_auto,f_auto,w_320/{{ $itemid }} 320w,
                      {{ $baseurl }}q_auto,f_auto,w_640/{{ $itemid }} 640w,
                      {{ $baseurl }}q_auto,f_auto,w_1024/{{ $itemid }} 1024w"
        />
      {{ else }}
        <link rel="preload" as="image" href="{{ $src }}" />
      {{ end }}
    {{- end -}}

    {{ partial "seo-schema.html" . }}
    <link
      rel="canonical"
      href="{{ .Site.Params.CanonicalUrl }}{{ .RelPermalink }}"
    />
    <link href="/pagefind/pagefind-ui.css" rel="stylesheet" />
    <script src="/pagefind/pagefind-ui.js"></script>
    <script>
      window.addEventListener("DOMContentLoaded", (event) => {
        const searchTags = document.getElementById("search-tags");
        const pagefind = new PagefindUI({
          element: "#search",
          showSubResults: true,
          autofocus: true,
        });
        // MutationObserverで検索結果の変化を監視
        const observer = new MutationObserver(() => {
          const resultsContainer = document.querySelector(
            "#search .pagefind-ui__results",
          );
          if (resultsContainer && resultsContainer.childElementCount > 0) {
            searchTags.classList.add("hidden");
          } else {
            searchTags.classList.remove("hidden");
          }
        });

        // 監視対象の要素を取得して監視を開始
        const searchElement = document.querySelector("#search");
        if (searchElement) {
          observer.observe(searchElement, { childList: true, subtree: true });
        }
      });
    </script>
    <title>
      {{ $isHomePage := eq .Title .Site.Title }}{{ .Title }}{{ if eq $isHomePage false }}
        -
        {{ .Site.Title }}
      {{ end }}
    </title>
  </head>
  <body class="font-ja wrap-break-word">
    <div class="container mx-auto flex min-h-screen flex-col">
      {{- partial "header.html" . -}}
      <main class="mx-4 flex-1 sm:mx-4 md:mx-12 lg:mx-20 xl:mx-60">
        <div id="search"></div>
        <div id="search-tags" class="flex flex-wrap gap-2">
          <h3 class="mt-2 text-sm">主なタグ一覧</h3>
          <div>
            {{- range sort .Site.Taxonomies.tags "Count" "desc" -}}
              {{- if ge .Count 5 -}}
                <a
                  class="text-hover:text-grey-200 mt-2 ml-2 inline text-sm hover:underline"
                  href="{{ .Page.Permalink }}"
                  >{{ .Page.Title }} ({{ .Count }})</a
                >
              {{- end -}}
            {{- end -}}
          </div>
        </div>
      </main>
    </div>
    {{- partial "footer.html" . -}}
    {{- partial "drawer-script.html" -}}
    <script src="/js/instantpage-5.2.0.js" type="module" defer></script>
  </body>
</html>
